.quiz-container{
    padding: 10px;

    .title{
        font-size: 30px;
        font-weight: 600;
    }

    .quiz-content{
        fieldset {
            background-color: #eeeeee;
           
            
            legend {
                background-color: gray;
                color: white;
                padding: 5px 10px;
              }
        }
    }

    .list-detail{
        margin-top: 10px;
    }
}