

.detail-container{
display: flex;
gap: 30px;
padding: 50px;


    .left-content{
        border: 2px solid gray;
        width: 70%;
        border-radius: 3px;
        padding: 20px;
        .title{
            margin-top: 10px;
            font-size: 30px;
            font-weight: 600;
        }
        
        .q-body{
            
        }

        .body-content{
            .q-body{
                height: 200px;
                width: 100%;
                align-items: center;
                display: flex;
                justify-content: center;
            }

            img{
                width: 200px;
            }

            .qustion{
                font-size: 20px;
                font-weight: 600;
                // align-items: center;
                display: flex;
                justify-content: center;
            }
            .answers{
                margin-left: 100px;
            }

        }

        .footer{
            display: flex;
            gap: 10px;
            justify-content: center;
            .btn-prev{

            }
        }
    }

    .right-content{
        border-radius: 5px;
        border: 2px solid ;
        width: 30%;
        padding: 20px;
        .main-timer{
            text-align: center;
            border-bottom: dashed;
            padding: 24px;
        }
        .content{
            display: flex;
            gap: 20px;
            padding: 15px;
            flex-wrap: wrap;    
            

            .question{  
                font-size: 15px;
                font-weight: 600;
            border: 1px solid black;
            border-radius: 50%;
            height: 40px;
            width: 40px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        color: rgb(214, 15, 18);
                    }

                    &.selected{
                        background-color: rgb(191, 217, 217);
                    }

                    &.clicked{
                        color: rgb(58, 31, 212);
                    }
            }
        }
    }
}